<nav class="navbar">

    <a class="logo" routerLink="/gastos">Gastify</a>

    <ul class="main-nav" [class.active]="isOpen">
        <li><a href="#" class="nav-link">Inicio</a></li> <!-- El inicio es un dashboard a desarollar -->
        <li><a routerLink="/gastos" class="nav-link">Gastos</a></li> <!-- Listado de todos los gastos -->
    </ul>

    <span (click)="openUserMenu()" id="user-menu" class="nav-link">
        <input type="button" value="Username"/>
        <i class="material-icons">expand_more</i>
    </span>

    <ul [class.active]="userMenuOpen" id="menu-options" class="user-menu-options">
        <li><a href="">Perfil</a></li>
        <li><a href="">Ajustes</a></li>
        <li><a href="">Cerrar sesión</a></li>
    </ul>

    <span class="navbar-toggle" (click)="openMenu()">
        <i class="material-icons">menu</i>
    </span>

</nav>