<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/gastos">Gastify</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
                <a class="nav-link nav-item active" routerLink="/gastos">Inicio</a>
                <a class="nav-link nav-item" routerLink="/gastos">Gastos</a>
        </div>
        <div class="navbar-nav dropdown dropleft mr-2">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{username}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                <a class="dropdown-item" href="#">Perfil</a>
                <a class="dropdown-item" (click)="logOut()" href="#">Cerrar Sesion</a>
            </div>
        </div>
    </div>

</nav>
