<div class="container">
    <div class="login-wrapper">
        <form class="login-form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <h1>Iniciar sesión</h1>
            <div class="input-container">
                <i class="material-icons">account_circle</i>
                <label for="usuario" hidden>Usuario</label>
                <input class="input-field" type="text" id="user-input" name="username" placeholder="Usuario" ngModel required>
            </div>
            <div class="input-container">
                <i class="material-icons">lock</i>
                <label for="password" hidden>Contraseña: </label>
                <input type="password" class="input-field" id="password-input" name="password" placeholder="Contrseña" ngModel required>
            </div>
            <button type="submit" id="login-button" class="input-field">Iniciar sesión</button>
            <span id="recover-password">
                    <a href="#">¿Olvidaste tu Contraseña?</a>
                </span>
                <span id="create-account">
                    <a routerLink="/register">Crearme una cuenta</a>
                </span>
        </form>
    </div>
</div>