<section>

    <h1>Estos son tus gastos:</h1>

    <div class="button-container">
        <button routerLink="/nuevoGasto" class="add-btn">Agregar</button>
    </div>

    <table class="gastos-table">
        <tr>
            <th >Nombre</th>
            <th >Importe</th>
            <th >Vencimiento</th>
            <th >Pagado</th>
        </tr>
        <tr *ngFor="let gasto of gastos">
            <td data-th="Nombre" >{{gasto.nombre}}</td>
            <td data-th="Importe">{{gasto.importe}}</td>
            <td data-th="Vencimiento">{{gasto.fechaVencimiento | date:"dd/MM/yyyy"}}</td>
            <td data-th="Pagado">
                <div class="checkbox-pagado">
                    <input 
                        type="checkbox" 
                        [ngModel] = "gasto.pagado"
                        (ngModelChange) = "editarGasto($event, gasto)"
                    >
                </div>
            </td>
        </tr>
    </table>

</section>



<!-- <button class="btn btn-primary" routerLink="/nuevoGasto">Agregar</button>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>Importe</th>
            <th>Vencimiento</th>
            <th>Pagado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let gasto of gastos">
            <td>{{gasto.nombre}}</td>
            <td>${{gasto.importe}}</td>
            <td>{{gasto.fechaVencimiento | date:"dd/MM/yyyy"}}</td>
            <td>
                <input type="checkbox" id="pagado" name="pagado" [ngModel]="gasto.pagado"
                    (ngModelChange)="editarGasto($event, gasto)">
            </td>
            <td>
                <span routerLink="/editarGasto/{{gasto.id}}" class="btn btn-primary material-icons md-light">edit</span>
                <span type="button" (click)="seleccionarGasto(gasto)" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger material-icons md-light ml-3">
                    delete
                </span>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="gastoSeleccionado" class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalTitle">Eliminar gasto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Estás por eliminar el gasto: <b>{{gastoSeleccionado.nombre}}</b>, ¿estás seguro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" 
                (click)="eliminarGasto(gastoSeleccionado)">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
</div> -->