<div class="container">
    <h1>Agregar un gasto</h1>
    <form class="alta-form" #altaGastoForm="ngForm" (ngSubmit)="agregarGasto(altaGastoForm)">
        <div class="form-group">
            <label for="nombre">Nombre del gasto: </label>
            <input type="text" id="nombre" class="form-control" name="nombre" ngModel required>
        </div>

        <div class="form-group">
            <label for="importe">Importe: </label>
            <input type="number" id="importe" class="form-control" name="importe" ngModel required>
        </div>

        <div class="form-group">
            <label for="fechaVencimiento">Fecha de vencimiento:</label>
            <input type="date" id="fechaVencimiento" class="form-control" name="fechaVencimiento" ngModel required>
        </div>

        <div class="form-group">
            <label for="pagado">¿Ya lo pagaste?</label>
            <input type="checkbox" id="pagado" class="form-control" name="pagado" ngModel>
        </div>

        <button type="submit" class="btn btn-success">Agregar</button>

    </form>
</div>