/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Revisar porque puede andar en login pero romper todo lo demás */